.pomodoro {
  text-align: center;
  font-family: "Open Sans"; }
  .pomodoro__container {
    width: 960px;
    margin: 0 auto; }
  .pomodoro__input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .pomodoro__length-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 30px; }
  .pomodoro__toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10px; }
  .pomodoro__block {
    margin-top: 300px; }

.timer__length-block {
  margin-top: 50px; }

.pointer {
  cursor: pointer; }
